@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #202020;
  color: white;
  font-family: 'Inter', sans-serif;
}


#gradients {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.fl-1 {
  top: 0;
  right: 0;
  position: absolute;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  z-index: -1;
  max-height: 100%;
}

.fl-2 {
  position: absolute;
  top: 20%;
  left: 0;
  overflow-y: hidden !important;
  max-height: 100%;
  overflow-x: hidden !important;
  z-index: -1;
}

.fl-3 {
  position: absolute;
  top: 65%;
  right: 0;
  max-height: 100%;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  z-index: -1;
}

.fl-1 img,
.fl-2 img,
.fl-3 img {
  overflow: hidden;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.fadeIn {
  -webkit-animation: fadeIn 2s linear;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}



.btnPrimary {
  border: none;
  transition: all 0.3s ease-out;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  background: linear-gradient(45deg, #EA3205 17.8%, #FAB43B 67.97%);
  background-size: 600%;
  -webkit-animation: anime 8s linear infinite;
  animation: anime 8s linear infinite;
}

@keyframes anime {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }

}

@media screen and (min-width: 850px) {
  .fadeContainer {
    min-height: 500px;
  }
}

.image-slider {
  position: relative;
}

.slider-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.slider-image.active {
  opacity: 1;
  z-index: 10;
}

.feat {
  width: 1080px;
}